

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <input type="text" id="txtSearch" />
            <button id="btnSearch" class="btn btn-sm btn-info" onclick="fnSearchData()">Search</button>
            <button id="btnClr" class="btn btn-sm btn-danger" onclick="fnClrData()">Clear</button>
        </div>
        <div class="col-sm-4">
            <button type="button" id="btnAdd" style="float:right;" class="btn btn-info btn-sm">Add</button>
        </div>
    </div>
</div>
<div class="=container" style="margin-top:3%">
    <table class="table table-striped" style="text-align:center">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Product ID</th>
                <th>Customer Name</th>
                <th>CustomerNO </th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody id="tblBody">
            <tr><td colspan="7" style="text-align:center">No data found</td></tr>
        </tbody>
    </table>
</div>
<input type="text" id="hdnCustomerId" hidden />
@*<input type="text" id="hdnsValSearch" hidden />*@
<script src="~/Scripts/Home/Index.js"></script>
<script src="~/Scripts/Customer/Index.js"></script>
@*<script src="~/Scripts/Customer/IndexSearchbox.js"></script>*@


